
.idea/workspace.xml
RecipeProject/.idea/vcs.xml
RecipeProject/.idea/vcs.xml
.idea/vcs.xml
.idea/Recipe-Application.iml
.idea/modules.xml
.idea/codeStyles/Project.xml
RecipeProject/.idea/vcs.xml
yummy_tummy/android/key.properties
